@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  
  
}


@theme inline {

  --font-sans: var(--font-thai-sans);
  --font-serif: var(--font-thai-serif);

  
  /* Colors Layout */
  --color-background: #ffffff;
  --color-foreground: #171717;

  /* Colors Brand */
  --color-primary-background: #f3f4f6;
  --color-primary: #4f39f6;
  --color-primary-foreground: #ffffff;

  /*Colors  Supporting */
  --color-secondary: #f6d59b;
  --color-secondary-foreground: #171717;

  /*Colors Neutral */
  --color-muted: #f3f4f6;
  --color-muted-foreground: #6b7280;

  /*Colors State */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  /* Custom spacing */
  --spacing-tab54: 54px;

  /* Animations */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fadeIn: fadeIn 0.5s ease-in-out forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import "./styles/navbar-horizontal";

html, body {
  background: var(--background);
  color: var(--foreground);
  @apply font-serif;
}

h1 {
  @apply font-serif;
  @apply text-3xl;
  @apply font-bold;
}

h2 {
  @apply font-serif;
  @apply text-2xl;
  @apply font-bold;
}
